body {

    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
}
h2{

    font-size: 40px;
}
.name{
    color: blue;
}
.flexible-container{
    display: flex;
    margin: 100px;
}
.half-widht{
    width: 50%;
    padding: 50px;
    margin-left: 10px;
}
.half-image img {
100%
padding: 20px;
}

.link-button{
    text-decoration: none;
    background-color: blue;
    padding: 10px 20px;
    color: white;
    font-weight: 700;
    background-image: linear-gradient(tomato, black);
  
}
.top-banner{
    background-image: url(image/top-banner.png);
    background-repeat: no-repeat;
}
.become-a-hero{
    background-image: url(image/dream-bg.png);
    background-repeat: no-repeat;
    background-position:right ;
}

.Experince-ap{
    box-shadow: 15px 15px 50px blue;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;

}
.flexible-container{
    background-image: url(image/exp-bg.png);
    background-repeat: no-repeat;
   background-position: left;
}